@charset "utf-8";
/* CSS Document */

/* ====================== Map ====================== */
.filter-options h2{
  margin: 0 0 0 21px;
  padding-top: 10px;
}


.filter-options select {
  min-width: 94%;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  padding: 0;
}

#restaurants-list li {
  width: 100%;
  margin: auto;
  min-height: 380px;
  padding: 0 0 20px 0;
  text-align: center;
}

/* ====================== Restaurant Details ====================== */

#breadcrumb {
  width: 100%;
  position: static!important;
  text-align: left;
}

.inside #map-container {
  position: static;
  width: 100%;
  height: 400px;
  margin-top: 140px;
}

.inside #footer {
  bottom: 0;
  position: relative;
  width: 100%;
  padding: 15px 0 15px 0;
}

#restaurant-container {
  position: static;
  width: 100%;
  padding: 5px;
  text-align: center;
}

/* Minor break point at 397 */
@media screen and (min-width: 397px) {
  .inside #map-container {
    margin-top: 100px;
  }
}

#restaurant-img, #restaurant-cuisine {
	width: 100%;
}

#reviews-container {
  padding: 5px;
  margin: auto;
  width: 100%;
}

#reviews-container h2 {
  text-align: center;
}

#reviews-list li p {
  font-size: 15px;
  padding: 5px;
}

#restaurant-hours td {
  width: 200px;
  word-wrap: break-word;
  font-size: 15px;
  text-align: left;
  border-top: dashed #e3d8d8 thin;
}
