/* ====================== Restaurant Details ====================== */

  #breadcrumb {
    width: 100%;
  }

  .inside #map-container {
    position: static;
    width: 100%;
    height: 400px;
    margin-top: 140px;
  }

  .inside #footer {
    position: relative;
    width: 100%;
    padding: 15px 0 15px 0;
  }

  #restaurant-container {
    width: 100%;
    padding: 5px;
    text-align: center;
  }

/* TODO STARTS HERE */
  #restaurant-img, #restaurant-cuisine {
  	width: 100%;
  }

  #reviews-container {
    padding: 5px;
    margin: auto;
    width: 100%;
  }

  #reviews-container h2 {
    text-align: center;
  }

  #reviews-list li p {
    font-size: 15px;
    padding: 5px;
  }

  #restaurant-hours {
    margin: auto;
  }

  #restaurant-hours td {
    max-width: 160px;
    word-wrap: break-word;
    font-size: 15px;
    text-align: center;
    border-top: dashed #e3d8d8 thin;
  }

  /* Minor break point at 397 */
  @media screen and (min-width: 397px) {
    .inside #map-container {
      margin-top: 100px;
    }
  }

  /* Minor break point at 600 */
  @media screen and (min-width: 600px) {
    #restaurant-container {
      width: 85%;
      padding: 5px;
      margin: auto;
    }

    #restaurant-hours {
      margin: 0;
    }

    #restaurant-hours td {
      font-size: 20px;
      max-width: 400px;
      word-break: keep-all;
      text-align: justify;
    }

    #restaurant-address {
      text-align: left;
      font-size: 20px;
    }

    #reviews-list li {
      padding: 5%;
      width: 85%
    }

    #reviews-list li p {
      font-size: 15px;
      margin: 0;
      padding: 0;
      max-width: 650px;
    }

  }
