@charset "utf-8";
/* CSS Document */

/* ====================== Navigation ====================== */





/* ====================== Map ====================== */

.filter-options h2{
  margin: 0 0 0 21px;
  padding-top: 10px;
}


.filter-options select {
  min-width: 94%;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  padding: 0;
}

#restaurants-list li {
  width: 100%;
  margin: auto;
  min-height: 380px;
  padding: 0 0 20px 0;
  text-align: center;
  border: none;
}
